@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: aliceblue;
}

p {
  font-family: "roboto";
}

@keyframes slideInDown {
  from {
    transform: translateY(-0.5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideInDown {
  animation: slideInDown 0.5s ease-in-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(-40%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(40%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInRight {
  animation: slideInRight 0.5s ease;
}

.slideInLeft {
  animation: slideInLeft 0.5s ease;
}

.font-arimo {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.sanchez-regular {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
}